// All sizes in project

// Main
$font-size-main: calc(.7rem + .15vw + .15vh);
$font-size-title: calc(.95rem + .55vw + .25vh);


// Sidebar
$font-size-sidebar-lg: calc(.7rem + .15vw + .15vh);
$font-size-sidebar-md: calc(.7rem + .15vw + .15vh);
$font-size-sidebar-sm: calc(.7rem + .15vw + .15vh);