// Colors for light theme

// Preloader
$preloader-bg-color: #DFDBE5;
$preloader-fill-color: #002643;

// Sidebar
$sidebar-bg-color: #FFFF;
$sidebar-text-color: rgba(7, 27, 44, 0.41);

// Body
$body-bg-color: #DFDBE5;