// Colors for light theme

// Preloader
$preloader-bg-color: #DFDBE5;
$preloader-fill-color: #002643;

// Sidebar
$sidebar-bg-color: #FFFF;
$sidebar-text-color: #003a66;

// Body
$body-bg-color: #DFDBE5;